@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

Link {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0F0E0E;
  color: white;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.first-background {
  background-image: url("https://images.unsplash.com/photo-1682685794761-c8e7b2347702?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
}

.mask-image-to-bottom {
  mask-image: linear-gradient(to top, transparent 1%, #0F0E0E 45%);
  -webkit-mask-image: linear-gradient(to top, transparent 1%, #0F0E0E 45%);
}

.mask-image-to-bottom-for-iframe {
  mask-image: linear-gradient(to top, transparent 5%, #0F0E0E 20%);
  -webkit-mask-image: linear-gradient(to top, transparent 5%, #0F0E0E 20%);
}

iframe {
  scrollbar-width: none !important;
}


.mask-image-to-top {
  mask-image: linear-gradient(to bottom, transparent 2%, #0F0E0E 30%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 2%, #0F0E0E 30%);
}
/**
  Component
**/

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 00px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px #2ecc71;
  --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
/* 
.shine {
  animation: glitter 6s linear 0s infinite normal;
  -webkit-animation: glitter 6s linear 0s infinite normal;
  -moz-animation: glitter 8s linear 0s infinite normal;
  -ms-animation: glitter 8s linear 0s infinite normal;
  -o-animation: glitter 8s linear 0s infinite normal;
} */
/* 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: black !important;
    -webkit-background-origin: none;
} */

textarea {
  resize: none;
  background-color: transparent;
  padding: 0.5rem;
}

/* input[type='range'] {
  -webkit-appearance: none !important;
  background:none;
  height:5px;
  border-radius: 24px;
  border: none;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background:#FEFEFE;
  height:10px;
  width:10px;
  border-radius: 100%;
} */

progress {
  border-radius: 7px; 
  width: 80%;
  height: 4px;
}
progress::-webkit-progress-bar {
  background-color: #9b9b9b;
}
progress::-webkit-progress-value {
  background-color: #FEFEFE;
  border-radius: 7px;
}

.fade-container {
  opacity: 0;
}

.fade-container.fade-in {
  opacity: 1;
}
progress[value]::-webkit-progress-value {
  transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}